.aboutMeText {
    text-align: center;
    margin-right: 22%;
    margin-left: 22%;
    font-size: larger;
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .aboutMeText {
        margin-right: 10%;
        margin-left: 10%;
    }
}