.content {
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}

.sectionHeader {
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    opacity: 0.9;
}

@media screen and (max-width: 800px) {
    .sectionHeader {
        font-size: 2rem;
    }
}