.otherText {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    font-size: larger;
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .otherText {
        margin-right: 10%;
        margin-left: 10%;
    }
}