.projectImage {
    width: 500px;
}

.projectHeader {
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    opacity: 1;
}

.projectDescription {
    text-align: center;
    margin-left: 10%;
    margin-right: 12%;
    font-size: large;
    color: whitesmoke;
}

.projectLink {
    text-align: center;
    font-size: large;
    color: whitesmoke;
}

.project {
    margin-bottom: 200px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .projectImage {
        width: 300px;
    }
    .projectHeader {
        font-size: 1.5rem;
    }
}