.nameHeader {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 500;
    color: whitesmoke;
    padding-top: 0;
    margin: 0;
    opacity: 1;
}

.introductionHeader {
    font-size: clamp(1.7rem, 2.5vw, 4rem);
    color: whitesmoke;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

.developerHeader {
    color: whitesmoke;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    opacity: 0.9;
}

.indicator {
    width: 25px;
    height: 37.5px;
    border: 1px solid #fff;
    border-radius: 50px;
    position: relative;
    margin-top: 40%;
    margin-left: 35%;
}
.indicator:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    margin: auto;
    left: 0;
    right: 0;
    top: 15px;
    border-radius: 50%;
    animation: animate 1.2s linear infinite;
}


@keyframes animate {
    0% {
        opacity: 1; top: 7.5px;
    }
    100% {
        opacity: 0; top: 25px;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 600px) {
    .titleSection {
        margin-right: 10%;
    }
}